.divStartContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/icons/mujer.fondo.avif");
  background-size: contain;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.divBtnscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
