.divStartContainer {
  width: 100vw;
  height: 100vh;
  
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 1)), url("../../assets/icons/mujer-escuchando-música.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.divBtnscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  line-height: 57px;
  
  font-weight: bold;
}

h1 {
  position: relative;
  bottom: 120px;
  font-size: 27px;
  color: #26262E;
  line-height: 19px;
}

