.containerHomeHeader {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#ffd6a6 15%, #fdfeff);
}

.imgClock {
  margin-right: -130px;
}

.imgBell {
  margin-right: -60px;
}

.headerHome {
  margin-left: -50px;
}
